*{
    color: blue;
}
h1{
    color: aquamarine;
}
h3{
    color: purple
}
ul>li{
    color: orange;
    list-style-type: square;
}
img{
    height: 100px;
    width: 100px;
    border-radius: 50px;
    ;
}
body{
    text-align: center;
}